.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 30%;
  padding: 10px;
  align-self: center;
  line-height: 100%;
  vertical-align: middle;
  display: inline-block;
  height: 55vh;
  border-radius: 10%;
  border: 1px solid #ffff;
  margin-top: 10vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  justify-items: center;
}
.form-container {
  justify-content: center;
  flex-direction: column;
}

.form-account {
  margin-bottom: 10px;
  font-size: 12px;
  color: #7fcac6;
}

.error {
  font-size: 12px;
  color: #999;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-style: italic;
}
